@font-face {
    font-family: "Unify Sans";
    src: url(https://www.gannett-cdn.com/gannett-web/global/fonts/unify/UnifySans_W_Bd.woff2);
    font-weight: 800;
  }

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.intro {
  max-width: 960px;
  margin: 0 auto;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #333;
  margin-top: 30px;
}

h1{
    font-family: "Unify Sans";
    font-size:2.3em;
}
